In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt
import yfinance as yf
import datetime

msft = yf.Ticker("C")
print(msft)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

yfinance.Ticker object <C>

In [3]:
df = msft.history(period="5y")
print(df)
df

                                Open       High        Low      Close  \
Date
2019-08-15 00:00:00-04:00  51.303509  51.626328  50.260554  50.757198
2019-08-16 00:00:00-04:00  51.262119  52.694114  51.195898  52.545120
2019-08-19 00:00:00-04:00  53.654298  53.728798  53.107991  53.232147
2019-08-20 00:00:00-04:00  52.743786  53.041774  52.437519  52.495461
2019-08-21 00:00:00-04:00  53.083163  53.116274  52.197482  52.354752
...                              ...        ...        ...        ...
2024-08-09 00:00:00-04:00  58.029999  58.459999  57.450001  57.840000
2024-08-12 00:00:00-04:00  58.299999  58.680000  57.730000  57.840000
2024-08-13 00:00:00-04:00  58.230000  58.290001  57.770000  58.150002
2024-08-14 00:00:00-04:00  58.369999  59.529999  58.279999  59.279999
2024-08-15 00:00:00-04:00  60.340000  61.007999  60.099998  60.570000

                             Volume  Dividends  Stock Splits
Date
2019-08-15 00:00:00-04:00  16340400        0.0           0.0
2019-08-16 00:00:00-04:00  16450700        0.0           0.0
2019-08-19 00:00:00-04:00  13312700        0.0           0.0
2019-08-20 00:00:00-04:00   9815800        0.0           0.0
2019-08-21 00:00:00-04:00  14692900        0.0           0.0
...                             ...        ...           ...
2024-08-09 00:00:00-04:00  11421000        0.0           0.0
2024-08-12 00:00:00-04:00  15123500        0.0           0.0
2024-08-13 00:00:00-04:00   7478500        0.0           0.0
2024-08-14 00:00:00-04:00  12416900        0.0           0.0
2024-08-15 00:00:00-04:00   7800610        0.0           0.0

[1259 rows x 7 columns]

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-08-15 00:00:00-04:00,51.303509,51.626328,50.260554,50.757198,16340400,0.0,0.0
2019-08-16 00:00:00-04:00,51.262119,52.694114,51.195898,52.545120,16450700,0.0,0.0
2019-08-19 00:00:00-04:00,53.654298,53.728798,53.107991,53.232147,13312700,0.0,0.0
2019-08-20 00:00:00-04:00,52.743786,53.041774,52.437519,52.495461,9815800,0.0,0.0
2019-08-21 00:00:00-04:00,53.083163,53.116274,52.197482,52.354752,14692900,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-09 00:00:00-04:00,58.029999,58.459999,57.450001,57.840000,11421000,0.0,0.0
2024-08-12 00:00:00-04:00,58.299999,58.680000,57.730000,57.840000,15123500,0.0,0.0
2024-08-13 00:00:00-04:00,58.230000,58.290001,57.770000,58.150002,7478500,0.0,0.0
2024-08-14 00:00:00-04:00,58.369999,59.529999,58.279999,59.279999,12416900,0.0,0.0
2024-08-15 00:00:00-04:00,60.340000,61.007999,60.099998,60.570000,7800610,0.0,0.0